body{
  background-color:#002b36;
  color:#93a1a1;
  font-family: "Courier New",monospace;
  font-weight:bolder;
}
.cover{
  padding-right:6pt;
  padding-left:6pt;
  padding-top:12pt;
  padding-bottom:12pt;
}
.divheader{
  color:#657b83;
  font-weight:bolder;
}
a{
  color:#268bd2;
  text-decoration:none;
}