@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
  color:#101015;
  background-color:#353540;
  font-family:montserrat;
  font-size:18px;
}

.button{
	background-color:#202025;
	display:inline-block;
	cursor:pointer;
	color:#f0f0f0;
	font-family:montserrat;
	font-size:17px;
	padding:3px 12px;
	text-decoration:none;
}
.button:hover {
  color:#202025;
	background-color:#f0f0f0;
}

div {
background-color:#202025;
color:#f0f0f5;
padding: 10px;
border-style:solid;
border-width:7px;
border-color:#232323;
}

a{
  color:#f0f0f5;
  text-decoration:none;
}
a:hover{
  color:lightsteelblue;
}
